<script type="text/javascript">
$(document).ready(function() {      
   $('.carousel').carousel('pause');
});

$(document).on('mouseleave', '.carousel', function() {

    $(this).carousel('pause');
});
</script>

<!-- Carousel
    ================================================== -->

<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-7">


   </div><!-- /.col-xs-12 col-sm-12 col-md-7 -->


   <div class="col-xs-12 col-sm-12 col-md-5">

   </div>
</div>





<div class="row" >

   <div class="col-xs-12 col-sm-12 col-md-4 ">

    </div>
</div>




<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3">
   
  </div>
</div>